# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: '0' # We use the git commits for the version number

    - name: Set up Go
      uses: actions/setup-go@v6

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Release
      run: ./release
      if: github.ref == 'refs/heads/main'
